@use "../helpers" as *;

.note {
  &-display {
    background-color: var(--color-blue-50);
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: var(--border-radius);
  }

  &-box {
    &__container {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 100%;
      padding-block: 20px;
      padding-inline: 10px;
      background-color: var(--color-blue-50);
      border-radius: var(--border-radius);
    }

    &__editor {
      width: 100%;
      border-radius: var(--border-radius);
      border: 1px solid transparent;
      padding: 10px;
      resize: none;
    }

    &__tool {
      display: flex;
      justify-content: space-between;
    }
  }

  &-btn {
    padding: 5px 10px;
    border: 1px solid transparent;
    background-color: var(--color-blue-500);
    color: var(--color-white);
    border-radius: var(--border-radius);
  }
}